@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 195 31% 95%;
    --foreground: 200 41% 26%;

    --card: 195 31% 95%;
    --card-foreground: 200 41% 26%;
 
    --popover: 195 31% 95%;
    --popover-foreground: 200 41% 26%;
 
    --primary: 200 41% 26%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 193 25% 38%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 200 41% 26%;
    --muted-foreground: 200 41% 60%;
 
    --accent: 193 37% 48%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 200 41% 26%;
    --input: 200 41% 26%;
    --ring: 200 41% 26%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 200 41% 26%;
    --foreground: 195 31% 95%;
 
    --card: 200 41% 26%;
    --card-foreground: 195 31% 95%;
 
    --popover: 200 41% 26%;
    --popover-foreground: 195 31% 95%;
 
    --primary: 195 31% 95%;
    --primary-foreground: 200 41% 26%;
 
    --secondary: 193 25% 38%;
    --secondary-foreground: 195 31% 95%;
 
    --muted: 195 31% 95%;
    --muted-foreground: 195 31% 60%;
 
    --accent: 193 37% 48%;
    --accent-foreground: 195 31% 95%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 195 31% 95%;
 
    --border: 195 31% 95%;
    --input: 195 31% 95%;
    --ring: 195 31% 95%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-raleway;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-space font-bold;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Raleway&family=Open+Sans&display=swap');